body {
	font-family: 'Fira Sans', sans-serif;
}

body.blocked {
	overflow: hidden;
}

body, html {
	height: 100%;
}

h1, h2, h3, h4 ,h5 ,h6, p {
	margin: 0;
	text-rendering: optimizelegibility;
}

p {
	line-height: 1.5rem;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3rem;
	font-weight: 300;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1.1rem;
}

// Layout modifiers
.container {
	margin: 0 20px;
	max-width: 1200px;

	@include bp(desktop) {
		margin: 0 auto;
	}
}

.bg-light {
	background-color: $gray-light;
}

.bg-dark {
	background-color: $gray-darker;
}

.container-fw {
	margin: 0 20px;
}

// Classes for margins and paddings
@for $i from 1 through 30 {
  .mt-#{$i} {
    margin-top: #{$i * 5}px;
	}
	
	.mb-#{$i} {
    margin-bottom: #{$i * 5}px;
	}
	
	.pt-#{$i} {
    padding-top: #{$i * 5}px;
	}
	
	.pb-#{$i} {
    padding-bottom: #{$i * 5}px;
  }
}


// Generic Buttons

.button {
	border: none;
	cursor: pointer;
	display: inline-block;
	font-size: .8rem;
	margin: 0;
	padding: 1rem 2rem;
	text-decoration: none;	
	text-align: center;
	text-transform: uppercase;
	transition: 200ms ease-in all;

	&.button--first {
		background: $gray-dark;
		border: 1px solid $white;
		color: $white;

		&:hover {
			background: $white;
			color: $gray-dark;
		}
	}

	&.button--second {
		background: $white;
		border: 1px solid $gray-dark;
		color: $gray-dark;

		&:hover {
			background: $gray-dark;
			color: $white;
		}
	}

	&.button--third {
		background: transparent;
		border: 2px solid $yellow-button;
		color: $yellow-button;

		&:hover {
			background: $gray-dark;
			color: $white;
		}
	}

	&:focus {
		outline: none;
	}
}

.featured {
	align-items: center;
	background: $red-strong;
	border-radius: 20px;
	color: $white;
	display: inline-flex;
	justify-content: flex-start;
	padding: 5px 10px;
}

.font-light {
	color: $white;
	text-shadow: 2px 1px 2px black;
}

.vm-flex-col-center {
	display: flex;
	flex-flow: column;
	justify-content: center;
}