// variables
$white: #fff;
$white-dark: #8b96a3;
$blue-light: #d9ecf2;
$red-light:#f56a79;
$red-strong: #ff414d;
$blue-strong: #1aa6b7;
$blue-strongest: #0f6c77;
$blue-sky: rgb(0,111,185);
$black: #000;
$blue-dark: rgb(12,31,52);
$wp-green: #4caf50;
$gray-dark: #232323;
$gray-light: rgb(240,244,246);
$gray-darker: #222533;
$gray-black: #313A45;
$yellow-button: rgba(255, 203, 0, .75);


// Breakpoints
@mixin bp ($breakpoint) {
	@if $breakpoint==desktop_xl {
	@media only screen and (min-width: 1600px) {
		@content;
	}
}

	@if $breakpoint==desktop {
	@media only screen and (min-width: 1024px) {
		@content;
	}
}

	@if $breakpoint==tablet {      
		@media only screen and (min-width: 480px) {
			@content;
		}
	}
}